.text-field{
	-fx-background-color: #1d1d1d;
	-fx-text-fill: white;
	-fx-border-color: #e2e2e2;
	-fx-border-width: 2;
}

.text-field:focused{
	-fx-background-color: white;
	-fx-text-fill: Black;
	-fx-border-color: dimgray;
	-fx-border-width: 2;
}